<h1>Day 1</h1>

<p>
  stageCounter implémentation: Le père Noël est à l'étage
  {{this.stageCounter}}
</p>

<p>
  stageCounterReduce implémentation: Le père Noël est à l'étage
  {{this.stageCounterReduce}}
</p>

<p>
  stageCounterSpread implémentation: Le père Noël est à l'étage
  {{this.stageCounterSpread}}
</p>

<p>
  Le père Noël atteindra l'étage -1 à l'index :
  {{this.basement}}
</p>

<p>
  With Find : Le père Noël atteindra l'étage -1 à l'index :
  {{this.basementWithFind}}
</p>

<p>
  With while : Le père Noël atteindra l'étage -1 à l'index :
  {{this.basementWithWhile}}
</p>i
